<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>RutaPasajero</title>
</head>

<body>
    <header id="header">
        <nav id="nav-bar">
          <ul> 
            <li><a href="PaginaRegistro" class="nav-link">Menu Principal</a></li>
            <li><a href="PaginaLogin" class="nav-link">Salir</a></li>
            </ul>
        </nav>
      </header>
    <div class="container-route">
        <h1>Seleccione su película:</h1>
        <div id="cards">
            <div class="card" *ngFor="let rutas of Rutas">
                <h2>{{rutas.Localizacion}}</h2>
                <p> Precio: {{rutas.Tarifa_Parada}}</p>
                <p><button (click)= "IrPago (rutas.Id_parada)">Pagar</button></p>
              </div>
        </div>
    </div>
</body>
</html>