<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Pago</title>
</head>

<body>
    <header id="header">
        <nav id="nav-bar">
          <ul> 
            <li><a href="PaginaRegistro" class="nav-link">Menu Principal</a></li>
            <li><a href="PaginaLogin" class="nav-link">Salir</a></li>
            </ul>
        </nav>
      </header>
    <div class="contenedor">
        <div class="inicio">PAGO</div>
        <form [formGroup]=" FormPago" (ngSubmit)="Pagar()" >
            <div class="input-box">
                <span class="detalles">Chofer</span>
                <input type="string" class="form-control" placeholder="Chofer" required formControlName="Nombre">
            </div>
            <div class="input-box">
                <span class="detalles">Monto del pago</span>
                <input class="form-control" placeholder="Monto" required formControlName= "Monto_Pago">
            </div>
            <div class="boton">
                <input type="submit" value="Pagar">
            </div>
        </form>
    </div>
</body>

</html>