<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Nosotros</title>
</head>
<body>
    <div class="volver-btn">
        <a href="http://localhost:4200/PaginaRegistro">
        <button type="submit" class="volver-btn"> DEVOLVER</button></a>
       </div>
       
    <div class="caja"> <h1><b>>Sobre nosotros</b></h1></div>

    <div class="caja1"> <br>El propósito de esta aplicación web es poder crear un monedero electrónico que facilite a que los usuarios puedan pagar su ticket de forma rápida y segura, lo que hace que el tiempo de cobro disminuya. 
       También el usuario de disminuir la cantidad de efectivo que deben portar. <br>
    <br> Creadoras y Creador: <br>
    <br>Katrina Bou Mansour Blonval<br>
    <br>Kimberly Villegas Jiménez<br>
    <br>Ángela Nohelia Salas Sánchez<br>
    <br>Joser Moya Juárez<br>
     </div>


</body>
</html>
