<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Document</title>

</head>

<body>
    
    <header>
        <div class="wrapper">
           
            <a class="navbar-brand logo" routerLink='/user' routerLinkActive="active"><img
                    src="../../assets/icono.png" alt="ULACIT" style="height: 150px; width: 170px;"></a>
            <ul class="nav-area">
                <li><a href="PaginaMonedero"> Monedero <i class="fa fa-id-card" aria-hidden="true"></i> </a></li>
                <li><a href="PaginaRecargas">Recargas <i class="fa fa-credit-card" aria-hidden="true"></i></a></li>
                <li><a href="PaginaLogin">Ingresar <i class="fa fa-globe" aria-hidden="true"></i></a></li>
                <li><a href="PaginaSobreNosotros">Sobre Nosotros <i class="fa fa-handshake-o" aria-hidden="true"></i></a></li>
                <li><a href="PaginaRutaPasajero">Escoja su Parada<i class="fa fa-bus" aria-hidden="true"></i></a></li>
            </ul>
        </div>
        <div class="welcome-text">
            <h1>
                Somos Buses <span> Tricolor</span></h1>
            <a href="PaginaLogin">Inicia un viaje seguro</a>
        </div>
    </header>

</body>

</html>