<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Document</title>
</head>

<body>
    <header id="header">
        <nav id="nav-bar">
          <ul> 
            <li><a href="PaginaRegistro" class="nav-link">Menu Principal</a></li>
            <li><a href="PaginaLogin" class="nav-link">Salir</a></li>
            </ul>
        </nav>
      </header>
    <div class="contenedor">
        <div class="inicio">RECARGAS</div>
        <form [formGroup]=" FormRecTarjeta" (ngSubmit)=" Recargar()" >
            <div class="input-box">
                <span class="detalles">Cuenta del Cliente</span>
                <select class="Cuenta" aria-label="Default select example" required formControlName= "ID_Cuenta"  >
                    <option selected *ngFor="let Tarjeta of Tarjetas" value= {{Tarjeta.ID_Cuenta}}>{{Tarjeta.Numero_Tarjeta}} </option>
                  </select>
            </div>
            <div class="input-box">
                <span class="detalles">Monto del pago</span>
                <input  class="form-control" placeholder="Monto"  required formControlName= "Monto_Recarga">
            </div>
            <div class="boton">
                <input type="submit" value="Recargar">
            </div>
        </form>
    </div>





</body>

</html>